{% extends "error/error.html.twig" %}
{% block content %}
    <div class="error-message">
        <p><i class="fa fa-4x fa-{{ icon }} error-icon"></i><br/><strong>Error!</strong></p>
        <p>{{ message }}</p>
        {% if app.debug and error %}<p>{{ error.message }}</p>{% endif %}
    </div>
{% endblock %}
