{% extends "base.html.twig" %}
{% block navigation %}{% include "partials/navigation.html.twig" %}{% endblock %}
{% block content %}
    <div class="placeholder-message">
        <p><i class="fa fa-4x fa-bug error-icon"></i><br/><strong>Oops. This should not have happened.</strong></p>
        <p>{{ error.message }}</p>
        {% if app.debug and error %}<p>{{ error.message }}</p>{% endif %}
    </div>
{% endblock %}
