{% extends "error/error.html.twig" %}
{% block title %}File not found | {{ parent() }}{% endblock %}
{% block content %}
    <div class="placeholder-message">
        <p><i class="fa fa-4x fa-search error-icon"></i><br/><strong>This log file does not exist.</strong></p>
        {% if app.debug and error %}<p>{{ error.message }}</p>{% endif %}
        <p><a href="{{ app.request.baseUrl}}">Go to homepage</a></p>
    </div>
{% endblock %}
