@mixin user-select($select) {
  -webkit-user-select: $select;
  -khtml-user-drag: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  @if $select == none { -moz-user-select: -moz-none; }
  -ms-user-select: $select;
  user-select: $select;
}